.count_section {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #3CC3D1;
    color: #000;
    padding: 20px 0;
    margin-top: 20px;
}
.count_item {
    text-align: center;
}
.count_item h2 {
    font-size: 2em;
    margin: 0;
}

@media screen and (max-width:600px) {
    .count_item h2{
        font-size: 1.6em;
    }
}

.count_item p {
    color: white;
    margin: 0;
    font-size: 1em;
}
.divider {
    border-left: 1px solid #ffffff;
    height: 50px;
    align-self: center;
}

