.teamSection{
    max-width:1069.89px;
    margin-left: auto;
    margin-right: auto;
}

.teamHeadings{
    margin-top: 60px;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}
.teamPara{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    max-width: 550px;
    width: 80%;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width:600px){
    .teamPara{
        font-size: 22px;
    }
}

.teamContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(190px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width:800px) {
    .teamContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .teamItem{
        width: 45%;
        min-width: 150px;
    }
}
.teamCard {
    max-width: 250px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 0.3s;
} 

.teamCard img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.teamCard h3 {
    margin: 15px 0;
    font-size: 1.25em;
}
.teamCard p {
    margin: 0 0 15px;
    font-size: 1em;
    color: #555;
}

.teamCard::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #3CC3D1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.teamCard:hover {
    transform: translateY(-5px);
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.socialIcons a {
    color: #000;
    font-size: 24px;
    transition: color 0.3s;
}

.socialIcons a:hover {
    color: #007bff;
}

